.top-bar, .top-bar ul {
	background-color: #333333;
}

.top-bar .menu-text {
	color: #ccc;
}

.top-bar .active-link {
	font-weight: bold;
}

.clock {
	align-items: center;
	background: #b5d0e2;
	border: 2px solid #2099e8;
	border-radius: 50%;
	display: flex;
	height: 14rem;
	justify-content: center;
	margin: 4rem auto;
	width: 14rem;
	font-weight: normal;
}

.clock-text {
	color: white;
	font-size: 2.25rem;
	font-weight: 300;
}